<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title> 
		<script src="/javascript/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<p>login  | <a href="./register">Register</a></p> 
			<div id="err"><%= message %></div>
			<form id="login" action="/login" method="post">
				User name:<br>
				<input type="text" name="username" id="username">
				<br>
				User password:<br>
				<input type="text" name="password" id="password">
				<input type="submit" id="submit" value="Submit">
			</form>
		</div>
	</body>
</html>